/Screenshot5.xcf
/Screenshot4.xcf
/Screenshot3.xcf
/Screenshot2.xcf
/Screenshot1.xcf
/loader.lst
/FullDump
/ChoplifterOriginal
/CHOPLIFTER\#060300
/Choplifter.xcodeproj
/CHOPLIFTER.SYSTEM\#FF2000
/choplifter.lst
/CHOP1
/CHOP0
/CHOP.SYSTEM\#FF2000
/.DS_Store
